<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bicep Curl Counter</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-peer@9.3.0/simplepeer.min.js"></script>    
</head>
<body>
    <h1>Bicep Curl Counter</h1>
    <video id="localVideo" autoplay></video>
    <p>LEFT REPS: <span id="left-counter">0</span></p>
    <p>RIGHT REPS: <span id="right-counter">0</span></p>

    <script>
        var socket = io.connect('https://bicep-curl.onrender.com');

        socket.on('left_counter', function (data) {
            document.getElementById('left-counter').innerHTML = data.count;
        });

        socket.on('right_counter', function (data) {
            document.getElementById('right-counter').innerHTML = data.count;
        });

        const localVideo = document.getElementById('localVideo');

        navigator.mediaDevices.getUserMedia({ video: true, audio: false })
            .then((stream) => {
                localVideo.srcObject = stream;

                const peer = new SimplePeer({
                    initiator: window.location.hash === '#init',
                    trickle: false,
                    stream: stream, // Pass the stream to SimplePeer
                });

                peer.on('signal', (data) => {
                    socket.emit('offer', data);
                });

                socket.on('offer', (data) => {
                    peer.signal(data);
                });

                peer.on('stream', (stream) => {
                    localVideo.srcObject = stream;
                });
            })
            .catch((err) => console.error('Error accessing media devices:', err));

        socket.on('video_frame', function (data) {
            // Update the video element with the received frame
            localVideo.src = 'data:image/jpeg;base64,' + data;
        });
    </script>
</body>
</html>
